body{
    
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
   
    /* background: ; */
    background-image: url('https://i.ytimg.com/vi/NkH-gVt9ofw/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLApAy7JCQeJlTT27BMiPd5xN9LhoQ'); 
    background-repeat: no-repeat;

    background-color: red;
}




